.resume-content .resume-user .user-detail .detail-content {
  padding-left: 20px;
}
.resume-content .resume-user .user-detail .detail-content span {
  color: #fff;
}
.resume-content .resume-user .user-action {
  display: none!important;
}
.resume-content .ability-analysis .ability-content .print-echarts {
  display: block!important;
}
.resume-content .page-top {
  padding-top: 20px;
}
.resume-content.dpi-72 {
  width: 595px;
}
.resume-content.dpi-96 {
  width: 794px;
}
.resume-content.dpi-120 {
  width: 1487px;
}
.resume-content.dpi-150 {
  width: 1240px;
}
.resume-content.dpi-300 {
  width: 2479px;
}
